body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.game-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#category-container {
    margin-bottom: 20px;
}

#category-container button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#category-container button:hover {
    background-color: #0056b3;
}

#word {
    font-size: 24px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

#wrong-letters {
    margin-bottom: 20px;
    color: red;
}

.message-container {
    display: none;
}

#message {
    font-size: 24px;
    color: green;
}

#hangman-canvas {
    border: 1px solid #000;
    margin-bottom: 20px;
}

.letter-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.letter-buttons button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
